doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href='/surveys') List surveys
        li: a(href='/home/survey/create') Create survey
        li: a(href='/') Logout
    block content

