doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href='/home/my-surveys') My surveys
        li: a(href='/home/my-surveys/create') Create survey
        li: a(href='/') Logout
    block content

