doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href='/') Crate survey
        li: a(href='/') Logout
    block content

