doctype html
html
  head
    title= title
    script(src="/javascripts/login.js")
  body
    h1= title
    form#loginForm(action="/login" method="POST")
      div
        label(for="name") Name:
        input(type="text" id="name" name="name" required)
      div
        label(for="password") Password:
        input(type="password" id="password" name="password" required)
      div
        button(type="submit") Login
    p#error-message(style="color: red;")

