extends layout

block content
  h1= title

  p Description: #{survey.survey.description}
  p Expires At: #{formattedExpiresAt}

  // Add Take Survey Button
  form(action=`/survey/${survey._id}/take` method="get")
    button.btn.btn-primary Take Survey
