extends layout_home

block content
  h1= title
  if survey_list.length
    ul(class="list-group")
      each survey in survey_list
        li(class="list-group-item")
          a(href=survey.published_url, class="text-decoration-none") #{survey.title}
  else
    p(class="text-danger") There are no published surveys.
