extends layout_home

block content
  h1= title
  if survey_list.length
    ul
      each survey in survey_list
        li
          a(href=survey.url) #{survey.title}

  else
    p There are no surveys.

